@charset "utf-8";
/* CSS Document */

* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Calibri;
	font-size: 15px;
	line-height: 25px;

}

#luar {
	width: auto;
	height: auto;
}

#welcome {
	width: auto;
	height: 15px;
	padding: 20px;
	padding-bottom: 27px;
	background-color: #00DFB8;
}

#header {
	width: auto;
	height: 120px;
	padding: 20px;
	background-image: url(../logo/header.jpg);
	background-position: left;
	background-size: 100%;
}

#menu {
	width: auto;
	height: 45px;
	background-color: #4A4A4A;
}

a {
	color: white;
}

#logout {
	color: black;
}

nav {
	text-align: center;
	width: 100%;
	font-family: Calibri;
	font-size: 16px;
	color: white;

}

nav ul {
	list-style: none;
	position: relative;
}

nav ul li {
	float: right;
	width: 105px;
	height: 25px;
	padding: 10px;
}

nav ul li:hover {
	background: #00b994;
	background-size: cover;
}

#konten {
	width: 96%;
	height: 900px;
	color: black;
	padding: 30px;
	font-size: 25px;
}

#footer {
	width: auto;
	height: 210px;
	background-color: #4A4A4A;
	border-top: 10px solid #C8C8C8;
	padding: 30px;
	padding-left: 25px;
}

#copyright {
	width: auto;
	height: 30px;
	background-color: black;
	padding-top: 10px;
	padding-left: 25px;
}

#daftar-table {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	background: white;
	color: black;
	font-family: Calibri;
	font-size: 17px;
	border-bottom: 1px solid #e3e3e3;
}

.normal {
	width: 10%;
	background: white;
	padding: 10px;
	text-align: left;
}

table {
	border-collapse: collapse;
}

#daftar-table tbody td {
	border-top: 1px solid #e3e3e3;
	padding: 10px;
}

#daftar-table .isi:hover {
	background-color: #D7D7D7;
}

.delete {
	background: #FF1E22;
	width: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: transparent;
	padding: 8px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10pt;
	color: white;
}

.delete:hover {
	background: #680002;
}

.update {
	background: #00B7B9;
	width: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: transparent;
	padding: 8px 8px;
	;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10pt;
	color: white;
}

.update:hover {
	background: #007D8C;
}

.button {
	background: #00b994;
	width: 100px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: transparent;
	padding: 8px 8px;
	;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 10pt;
	color: white;
}

.button:hover {
	background: #00B076;
}

#tabel-pendaftaran {
	padding: 50px;
	margin: 20px;
	width: 100%;
	font-family: Calibri;
	font-size: 20px;
}

input[type=text],
input[type=password],
input[type=date],
textarea,
select {
	width: 50%;
	padding: 10px 10px;
	margin: 5px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 15px;
}

@media screen and (max-width:1333px) {
	#luar {
		width: 100%;
	}

	#welcome {
		width: auto;
		height: auto;
		float: none;
	}

	nav {
		width: auto;
	}

	nav ul {
		width: auto;
	}

	nav ul li {
		float: right;
		width: auto;
		padding: 10px;
	}

	#header {
		width: auto;
		float: none;
		background-size: cover;
	}

	#menu {
		width: auto;
	}

	#konten {
		width: auto;
		float: none;
	}

	#footer {
		width: auto;
		float: none;
	}

	#copyright {
		width: auto;
		float: none;
	}

	#daftar-table {
		width: 100%;
	}

	#tabel-pendaftaran {
		width: auto;
	}

	.normal {
		width: auto;
	}

	input[type=text],
	input[type=password],
	input[type=date],
	textarea,
	select {
		width: 100%;
		padding: 10px 10px;
		margin: 5px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		font-size: 15px;
	}

}

@media screen and (max-width:768px) {
	#luar {
		width: 100%;
	}

	#welcome {
		width: auto;
		height: auto;
		float: none;
	}

	nav {
		width: auto;
	}

	nav ul {
		width: auto;
	}

	nav ul li {
		float: right;
		width: auto;
		padding: 10px;
	}

	#header {
		width: auto;
		height: auto;
		float: none;
	}

	#menu {
		width: auto;
	}

	#konten {
		width: auto;
		float: none;
	}

	#footer {
		width: auto;
		float: none;
	}

	#copyright {
		width: auto;
		float: none;
	}

	#daftar-table {
		width: 100%;
	}

	#tabel-pendaftaran {
		width: auto;
	}

	.normal {
		width: auto;
	}
}